* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0b0b0b;
}

body.popup-active {
  overflow: hidden;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 0;
}

#scrollPath {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  z-index: 10;
  background: rgba(255, 255, 255, 0.2);
}

#progressBar {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  z-index: 10;
  background: linear-gradient(to top, #0081ff, #00ffe7);
  animation: animate 5s linear infinite;
}

#progressBar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #0081ff, #00ffe7);
  filter: blur(30px);
}

@keyframes animate {
  0%,
  100% {
    filter: hue-rotate(0deg);
  }

  50% {
    filter: hue-rotate(180deg);
  }
}

/* HEADER */

header {
  color: white;
  background-color: rgb(16, 16, 17, 0.6);
  display: flex;
  justify-content: space-around;
  align-items: center;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  height: 70px;
  width: 100%;
  position: sticky;
  z-index: 1;
  top: 0;
}

.left img {
  width: 9rem;
  cursor: pointer;
}

.right ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.right li {
  margin: 0 25px;
  font-family: "Poppins", sans-serif;
}

.right li a {
  color: white;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

.right li a:hover {
  color: rgb(165, 164, 164);
}

/* HOME */

#home {
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 70px 50px;
}

.leftSection {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  width: 35%;
}

span {
  color: rgb(177, 119, 232);
}

.icons i {
  font-size: 28px;
  color: white;
  transition: 0.2s ease-in-out;
}

.font-awesome {
  margin: 0 15px;
}

.fa-linkedin-in:hover {
  color: #0a66c2;
}

.fa-github:hover {
  color: rgb(89, 87, 87);
}

.fa-envelope:hover {
  color: rgb(245, 139, 139);
}

.fa-paper-plane:hover {
  color: #0088cc;
}

.resume {
  margin-top: 25px;
  padding: 15px 30px;
  border-radius: 40px;
  font-size: 1rem;
  background-color: #0b0b0b;
  color: white;
  border-color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 600;
  cursor: pointer;
  border-style: double;
  transition: 0.2s ease-in-out;
}

.resume:hover {
  background-color: white;
  border-color: black;
  color: black;
  border-style: double;
}

.resume:active {
  transform: translateY(1px);
}

#home img,
#about img {
  width: 400px;
  background: linear-gradient(
    135deg,
    rgb(255, 0, 0),
    rgb(23, 23, 219),
    50%,
    transparent 50%
  );
  background-size: 500%;
  background-position: 100% 100%;
  transition: background 0.5s;
  border-radius: 50%;
  padding: 8px;
  margin: 30px 0 0 0;
}

#home img:hover,
#about img {
  background-position: 0% 100%;
}

/* ABOUT */

#about h1,
#projects h1,
#contact h1,
footer h1 {
  color: white;
  font-family: Poppins;
  text-align: center;
  font-size: 2.3rem;
  padding-top: 80px;
}

#about > p,
#projects > p,
#contact > p {
  color: rgb(201, 200, 200);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.2rem;
  text-align: center;
  margin: 5px 0;
}

.aboutMe {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 40px 100px;
}

#about img {
  width: 27rem;
  border-radius: 10%;
}

#about .para {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  max-width: 40rem;
  text-align: justify;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

/* SKILLS */

/* .skills{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
} */

/* .circle{
    height: 160px;
    width: 160px;
    position: relative;
} */

.hhh {
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills {
  width: 160px;
  height: 160px;
  position: relative;
}

.outer {
  height: 160px;
  width: 160px;
  padding: 20px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  border-radius: 50%;
}

.inner {
  height: 157px;
  width: 157px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset 4px 4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
  border-radius: 50%;
}

.number {
  color: white;
  font-size: 2rem;
}

circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 1000;
  stroke-dashoffset: 650;
  animation: anim 2s linear forwards;
}

@keyframes anim {
  100% {
    stroke-dashoffset: 157.5;
  }
}

svg {
  position: absolute;
  top: 20px;
  left: 20px;
}

/* PROJECTS */

#projects .projects {
  margin: 50px 0;
}

.upperThree,
.lowerThree {
  display: flex;
  justify-content: space-evenly;
  margin: 50px 0;
}

#projects .task {
  border: 4px rgb(124, 124, 196) solid;
  height: 32rem;
  width: 22rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

#projects .task:hover {
  transform: scale(1.03);
  box-shadow: 2px 2px 20px rgb(124, 124, 196);
}

.task img {
  width: 21rem;
  margin: 8px;
  border-radius: 5px;
}

.task h3,
.task p {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: justify;
}

.task h3 {
  margin: 10px 20px 10px;
  font-size: 1.15rem;
}

.task p {
  margin: 0 20px;
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.task button {
  font-size: 1rem;
  margin: 30px 0 0;
  padding: 15px 40px;
  border-radius: 40px;
  cursor: pointer;
  background: transparent;
  color: white;
  border: 2px white solid;
  border-style: double;
  transition: 0.2s ease-in-out;
}

.task button:hover {
  color: black;
  background-color: white;
  border-color: 2px black solid;
}

.iot img,
.paam img,
.skykart img,
.rising img {
  height: 14rem;
}

.agro img,
.global img {
  height: 14rem;
  width: 14rem;
}

/* CONTACT FORM */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
}

.form {
  color: white;
  border-radius: 10px;
  padding: 20px;
  max-width: 450px;
  width: 100%;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: inline-block;
  margin-bottom: 5px;
  cursor: text;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  box-sizing: border-box;
}

form textarea {
  resize: none;
  height: 10rem;
  overflow-y: auto;
  font-family: Poppins;
  overflow-y: auto; /* Display scrollbar only when needed */
  scrollbar-width: thin; /* Width of the scrollbar */
  scrollbar-color: #999 #ddd; /* Color of the scrollbar */
}

/* Textarea scrollbar */
textarea::-webkit-scrollbar {
  width: 12px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 5px;
}

textarea::-webkit-scrollbar-track {
  background-color: #ddd;
}

.formButton {
  display: flex;
  justify-content: center;
}

form button {
  width: 100%;
  padding: 15px 10px;
  background: transparent;
  color: white;
  border-color: white;
  border-style: double;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.2s ease-in-out;
}

form button:hover {
  background-color: white;
  color: black;
}

form > p {
  color: rgb(254, 42, 42);
  text-align: center;
  font-size: 1.17rem;
  margin-top: 0.8rem;
  visibility: hidden;
  animation: shake 0.05s linear 3 alternate;
}

@keyframes shake {
  0% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(10px);
  }
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgb(17, 17, 17);
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 9999;
  opacity: 0;
  animation: fadeIn 0.2s forwards;
}

.popup.active {
  display: block;
  opacity: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.popup img {
  width: 70px;
  padding: 13px;
  border: 4px solid green;
  border-radius: 50%;
  margin-bottom: 20px;
}

.popup h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.popup p {
  margin-bottom: 20px;
  max-width: 22rem;
}

.popup button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.popup button:hover {
  color: white;
  background-color: rgb(0, 107, 0);
}

.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  opacity: 0;
  animation: fadeInOverlay 0.2s forwards;
}

.popup-overlay.active {
  display: block;
  opacity: 1;
}

@keyframes fadeInOverlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* FOOTER */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 0 0;
  font-family: Poppins;
  background: url("media/map.png");
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  color: white;
}

.connect {
  margin: 2.5rem;
}

.connect i {
  color: rgb(177, 119, 232);
}

.connect a {
  color: white;
}

.tel,
.email,
.location {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
  font-size: 1.1rem;
}

.tel a {
  text-decoration: none;
  padding: 0 13px;
}

.tel a:hover {
  text-decoration: underline;
}

.email a {
  text-decoration: none;
  padding: 0 13px;
}

.email a:hover {
  text-decoration: underline;
}

.location p {
  padding: 0 13px;
}

.social {
  text-align: center;
  margin: 3rem;
}

.social .icons {
  display: flex;
  justify-content: space-around;
}

.footer-para {
  text-align: center;
  line-height: 2rem;
}

.footer-para :nth-child(even) {
  margin: 0.8rem 0 2.5rem;
}

.top {
  position: fixed;
  bottom: 2.5rem;
  right: 3.5rem;
  opacity: 0;
  transition: 0.2s ease-in-out;
}

.top.active {
  pointer-events: auto;
  opacity: 1;
}

.top i {
  color: black;
  background: rgb(177, 119, 232);
  font-size: 20px;
  padding: 10px;
  border-radius: 0.5rem;
  transition: 0.2s ease-in-out;
}

.top i:hover {
  background-color: rgb(156, 77, 229);
}
